body {
    overflow: hidden;
}

.pinkHandDown-icon {
    position: absolute;
    left: 45%;
    top: 45%;
    cursor: grab;
    user-select: none;
    transform: translate(-100%, 0);
}

.pinkHandDown-icon img {
    width: 200px;
    height: auto;
}


.video-bg{
    position: absolute;
    top: -70px;  
    bottom:0;
    left: -1px;
    min-width: 100%;
    min-height: 100%;
}
